@import "base/normalize";
@import "base/typo";

@import "helpers/variables";
@import "helpers/mixins";

@import "layout/header";
@import "layout/footer";
@import "layout/general";

@import "pages/intro";
@import "pages/homepage";
@import "pages/biens";
@import "pages/detail-bien";
@import "pages/about";
@import "pages/contact";