body{
  background: $grisColor;
  color: white;
  font-family: 'montserrat', sans-serif;
}
main{
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}
.container-fluid {
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  max-width: 100%;
  @media (max-width:480px) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
a{
  color: white;
  text-decoration: none;
}

hr{
  border: .5px solid $grisDark;
  width: 80px;
}


h1, h2, h3, h4{
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Titre Page */
h1{
  font-weight: 400;
  font-size: 2.3em;
}

/* Titre bien */
h2{
  font-size: 1.6em;
  font-weight: 400;
}

/* Subtitles pour les textes */
h3{
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 1.1em;
}

/* Titres cases biens */
h4{
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0em;
  letter-spacing: .5px;
}

/* Sub-subtitles pour les textes */
h5{
  line-height: 1.55em;
  font-size: .9em;
  margin: 0;
  font-weight: 500;
}

/* Texte principal */
p{
  letter-spacing: .05em;
  font-weight: 300;
  line-height: 1.5em;
  font-size: .95em;
  color: $grisLight;
}

/* Container */
.small-container{
  width: 1100px;
  max-width: 90vw;
  margin: 0 auto;
}

@media screen and(max-width:900px){
  h1{
    font-size: 1.6em;
  }
  h3{
    font-size: 1.15em;
  }
}

/* Loader */
.wrap {
  position: fixed;
  width:100vw;
  height:100vh;
  height: calc(var(--vh, 1vh) * 100);
  top:0;
  left:0;
  z-index:50;
  background-color: #1a1a1a;
  .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .text {
      color: white;
      display: inline-block;
      margin-left: 10px;
      width: 130px;
    }
    .bounceball {
      position: relative;
      display: inline-block;
      height: 37px;
      width: 15px;
      &::before{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        transform-origin: 50%;
        animation: bounce 500ms alternate infinite ease;
      }
    }
  }
}
/* Loader bouncing */
@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}